<h1>Aanwezigheden</h1>

<%= link_to 'Users', users_path %>

<%= link_to 'Students', students_path %>

<%= link_to 'Subjects', subjects_path %>

<%= link_to 'Presences', presences_path %>

<%= link_to "logout",:controller => "users", :action => "logout" %>

<table border="solid black">
  <tr>
    <th>Vak</th>
    <th>Student</th>
    <th>Aanwezig</th>
	<th>Datum</th>
	<th>Laatst Gewijzigd</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% @presences.each do |presence| %>
  <tr>
  <% @subjects.each do |subject| %>
		<% if subject.id ==  presence.subject_id %>
			<td><%= subject.title %></td>
		<% end %>
	<% end %>
	<% @students.each do |student| %>
		<% if student.id ==  presence.student_id %>
			<td><%= student.first_name + " " + student.last_name %></td>
		<% end %>
	<% end %>
	<% if presence.presence ==  1 %>
		<td>Ja</td>
	<% else %>
		<td>Nee</td>
	<% end %>
	<td><%= presence.created_at %></td>
	<td><%= presence.updated_at %></td>
    <td><%= link_to 'Show', presence %></td>
    <td><%= link_to 'Edit', edit_presence_path(presence) %></td>
    <td><%= link_to 'Destroy', presence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Presence', new_presence_path %>
