<h1><%= @student.first_name + " " + @student.last_name %> aanpassen</h1>

<%= link_to 'Users', users_path %>

<%= link_to 'Students', students_path %>

<%= link_to 'Subjects', subjects_path %>

<%= link_to 'Presences', presences_path %>

<%= link_to "logout",:controller => "users", :action => "logout" %>

<%= form_tag :action => "update" %>
<table>

<tr>
	<td>Voornaam:</td>
	<td><%= text_field "student", "first_name" %></td>
</tr>

<tr>
	<td>Achternaam:</td>
	<td><%= text_field "student", "last_name" %></td>
</tr>

<tr>
	<td>Richting:</td>
	<td><%= text_field "student", "department" %></td>
</tr>

<tr>
	<td>Jaar:</td>
	<td><%= text_field "student", "year" %></td>
</tr>

</table>

<%= render 'form' %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
