<h1><%= @user.first_name + " " + @user.last_name %> aanpassen</h1>


<%= link_to 'Users', users_path %>

<%= link_to 'Students', students_path %>

<%= link_to 'Subjects', subjects_path %>

<%= link_to 'Presences', presences_path %>


<%= link_to "logout",:controller => "users", :action => "logout" %>

<%= form_tag :action => "update" %>
	
	<table>
<tr>
<td>Voornaam:</td>
<td><%= text_field "user", "first_name" %></td>
</tr>

<tr>
<td>Achternaam:</td>
<td><%= text_field "user", "last_name" %></td>
</tr>

<tr>
<td>Email:</td>
<td><%= text_field "user", "email" %></td>
</tr>

<tr>
<td>Wachtwoord:</td>
<td><%= text_field "user", "password" %></td>
</tr>


</table>



	
	<%= render 'form' %>
<% $end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
