<p id="notice"><%= notice %></p>

<h1><%= @user.first_name + " " + @user.last_name %></h1>

<%= link_to 'Users', users_path %>

<%= link_to 'Students', students_path %>

<%= link_to 'Subjects', subjects_path %>

<%= link_to 'Presences', presences_path %>


<%= link_to "logout",:controller => "users", :action => "logout" %>

<table>
<tr>
<td>Voornaam:</td>
<td><%= @user.first_name %></td>
</tr>

<tr>
<td>Achternaam:</td>
<td><%= @user.last_name %></td>
</tr>

<tr>
<td>Email:</td>
<td><%= @user.email %></td>
</tr>

<tr>
<td>Toegevoegd:</td>
<td><%= @user.created_at %></td>
</tr>

<tr>
<td>Laatste Actie:</td>
<td><%= @user.updated_at %></td>
</tr>

</table>

 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
